/*
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
*/

/* latin-ext 
@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/instrumentsans/v1/pxitypc9vsFDm051Uf6KVwgkfoSbSnNPooZAN0lInHGpCWNu2ZGRu3k.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  */
/* latin 
@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/instrumentsans/v1/pxitypc9vsFDm051Uf6KVwgkfoSbSnNPooZAN0lInHGpCWNu15GR.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  */
/* latin-ext */
@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  /* src: url(https://fonts.gstatic.com/s/instrumentsans/v1/pxiTypc9vsFDm051Uf6KVwgkfoSxQ0GsQv8ToedPibnr0She1YmV.woff2) format('woff2'); */
  src: url(assets/fonts/InstrumentSansU0100.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  /* src: url(https://fonts.gstatic.com/s/instrumentsans/v1/pxiTypc9vsFDm051Uf6KVwgkfoSxQ0GsQv8ToedPibnr0SZe1Q.woff2) format('woff2'); */
  src: url(assets/fonts/InstrumentSansU0000.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


    
    .ORCBlack{
      background: #2c2c2c;
    }
    .White{
      background: #ffffff;
    }
    .DarkGrey{
      background: #524f4f;
    }
    .Grey{
      background: #9e9e9a;
    }
    .MediumGrey{
      background: #cac9c2;
    }
    .LightGrey{
      background: #e7e6e1;
    }
    .UltraLightGrey{
      background: #f3f2ef;
    }
    .Lilac{
      background: #9461ff;
    }
    .Blue{
      background: #1cadff;
    }
    .Brown{
      background: #876341;
    }
    .SignalRed{
      background: #ff4d00;
    }
    .Orange{
      background: #ff7c1c;
    }
    .Yellow{
      background: #fbff40;
    }
    .DiplomGrey{
      background: #89847e;
    }
    .Audio{
      background: linear-gradient(130.4deg, #9461ff 0%, #a893e6 100%);
    }
    .Videoplayer{
      background: #000000;
    }
    .NewYellow{
      background: #a1ff2a;
    }
    .UtliltiesSignal{
      background: #ff7afa;
    }
    .gradient__btmbar{
      background: rgba(0, 0, 0, 0.2);
    }
    .h1{
      font-size: 240px;
      font-family: gqom404, sans-serif;
      font-weight: 400;
      line-height: 210px;
    }
    .h2{
      font-size: 120px;
      font-family: gqom404, sans-serif;
      font-weight: 400;
      line-height: 146px;
    }
    .h3{
      font-size: 48px;
      font-family: Instrument Sans, sans-serif;
      font-weight: 500;
      line-height: 60px;
    }
    .h4{
      font-size: 32px;
      font-family: Instrument Sans, sans-serif;
      font-weight: 500;
      line-height: 40px;
    }
    .Buttons{
      font-size: 20px;
      font-family: Instrument Sans, sans-serif;
      font-weight: 500;
      line-height: 24px;
    }
    .FilterNumberS{
      font-size: 12px;
      font-family: Instrument Sans, sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 14px;
    }
    .FilterNumberM{
      font-size: 14px;
      font-family: Instrument Sans, sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 18px;
    }
    .FilterNumberL{
      font-size: 16px;
      font-family: Instrument Sans, sans-serif;
      font-weight: 700;
      line-height: 18px;
    }
    .Body{
      font-size: 20px;
      font-family: Instrument Sans, sans-serif;
      font-weight: 500;
      line-height: 24px;
    }
    .Subline{
      font-size: 20px;
      font-family: Instrument Sans, sans-serif;
      font-weight: 500;
      line-height: 24px;
    }
    .TestShadowFilter{
      box-shadow: 0px 24px 60px rgba(0, 0, 0, 0.12), 0px 8px 22px rgba(0, 0, 0, 0.11), 0px 2px 4px rgba(0, 0, 0, 0.06);
    }
    .BottomBar{
      backdrop-filter: blur(34px);
    }
    .Blur{
      backdrop-filter: blur(15px);
    }
    .filtertoggleshadow{
      box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    }

    
    
    /** base style */
    body {
      position: fixed;
      top: 0px; left: 0px;
      
      min-height: 100vh;
      width: 100vw;
      font-size: 20px;
      font-family: Instrument Sans, sans-serif;
      font-weight: 500;
      line-height: 24px;
      
      
    }
    
    svg {
      stroke: var(--Colors-text-primary); 
    }
    
    .btn, .btn * {
      user-select: none;
    }
    .btn:hover {
      cursor: pointer; 
    }
    .btn.disabled {
      opacity: 0.5;
    }
    .btn-sm {
      height: 24px;
      padding: 12px;
    }
    header {
      z-index: 100;
      position: fixed;
      top: 0px; left: 0px; right: 0px;
      /*  height: 72px; */
      
      display: flex;
      padding: var(--margin-navbar-left-right-top-btm, 12px);
      justify-content: space-between;
      align-items: center;
    }

    header nav a {
      height: 24px;
      padding: 12px;
      float: left
    }
    .header_nav_logo {
      width: 48px; height: 48px;
      padding: 0;
    }
    .nav-logo-orc path {
      stroke: none;
      fill: var(--Colors-nav-bar-platform-logo);
    }


    .dialog_filter {
      position: fixed;
      top: 0px; left: 0px;
      width: 100vw;
      height: 100vh;
      color: var(--Colors-text-primary-inverted);
      background-color: var(--Colors-background-filter, #222);
      /* backdrop-filter: blur(112px); */
      /* filter: blur(112px); */
      z-index: 1000;
    }

    
.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  display: none;
}


/*  */
/* .fade_io-leave-active { */
  /* transition: opacity 0.5s ease-out; */
/* } */
/* .fade_io-enter-active { */
  /* transition: opacity 0.5s 0.5s ease-out; */
/* } */
/* .fade_io-enter-from, */
/* .fade_io-leave-to { */
  /* opacity: 0; */
/* } */


.move-u50-enter-active {

  transition: all 300ms linear;
}
.move-u50-leave-active {
  transition: all 300ms linear;

}

.move-u50-enter-from,
.move-u50-leave-to {
  transform: translate(0px, -50px);
}


.move-u30-fade-enter-active {

  transition: all 300ms ease-in;
}
.move-u30-fade-leave-active {
  transition: all 300ms ease-in;
  /* position: relative; top:0px; left: 0px; */
}

.move-u30-fade-enter-from,
.move-u30-fade-leave-to {
  transform: translate(0px, -30px);
  opacity: 0;
}


.move-u100-fade-enter-active {

  transition: all 1s 0.5s ease-in;
}
.move-u100-fade-leave-active {
  transition: all 1s ease-in;
  /* position: relative; top:0px; left: 0px; */
}

.move-u100-fade-enter-from,
.move-u100-fade-leave-to {
  transform: translate(0px, 100px);
  opacity: 0;
}


.move-ur30-enter-active,
.move-ur30-leave-active {
  transition: all 0.5s ease-in;
  /* position: relative; top:0px; left: 0px; */
}

.move-ur30-enter-from,
.move-ur30-leave-to {
  transform: translate(50px, -100px);
  
}

.move-ur45-enter-active,
.move-ur45-leave-active {
  transition: all 0.5s ease-in;
  /* position: relative; top:0px; left: 0px; */
}

.move-ur45-enter-from,
.move-ur45-leave-to {
  transform: translate(100px, -100px);
  
}

.move-l45-enter-active,
.move-l45-leave-active {
  transition: all 0.5s ease-in;
  /* position: relative; top:0px; left: 0px; */
}

.move-l45-enter-from,
.move-l45-leave-to {
  transform: translate(-100px, 0px);
  
}

.grow-width-enter-active,
.grow-width-leave-active {
  transition: all 1.5s linear;
  float: left;
  /* position: relative; top:0px; left: 0px; */
}

.grow-width-enter-from,
.grow-width-leave-to {
  
  transform: scale(10%, 100%) translate(-90%,0);
  
  
  opacity: 0;
  /* width: 10px; */
  
}
