.dialog {
  position: fixed;
  top: 0px; left: 0px;
  
  /* HH try to remove scrollbar -> TESTING */
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-color: rgba(0,0,0,0);

  height: 100vh;
  z-index: 1150;
  background-color: var(--Colors-background-default,#2C2C2C);
  color: var(--Colors-text-primary, #FFFFFF);
  overflow-y: auto;
}
/* HH try to remove scrollbar Safari & Chrome*/
.dialog::-webkit-scrollbar { 
  display: none;
}

.nav_close {
  height: 48px;
  width: 48px;
  padding: 0;
  cursor: pointer;
  user-select: none
}

.close_content {
  position: relative;
  float: left;
  height: 24px;
  padding: 12px;
}
.close_logo * {
  stroke: none;
  fill: var(--Colors-text-primary, #FFF) !important;
}

.page_content {
  max-width: 1023px;
  margin: 0 auto; 
  padding: 0 16px var(--padding-container-bottom-XL, 112px) 16px;
}

h1, h2, h3, h4,
p,
a, a:visited, a:active, a:hover {
  font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 400; letter-spacing: 0.02rem;
}

h1 {
  color: var(--text-primary, #FFF);
  font-size: var(--font-h4-font-size);
  line-height: var(--font-h4-line-height);
  margin-top: calc(var(--font-body-font-size) * 4.8); /* HH entspricht 96px / desktop */
  margin-bottom: 24px;
}
h2 {
  color: var(--text-primary, #FFF);
  font-size: var(--font-h4-font-size);
  line-height: var(--font-h4-line-height);
  margin-top: calc(var(--font-body-font-size) * 4.8); /* HH entspricht 96px / desktop */
  margin-bottom: 24px;
}
h3 {
  color: var(--Colors-text-secondary, #CAC9C2);
  font-size: var(--font-subline-font-size, 20px);
  line-height: var(--font-subline-line-height, 24px);
  margin-top: calc(var(--font-subline-line-height, 24px) * 1.75);
  margin-bottom: var(--font-subline-line-height, 24px);
}
h4 {
  color: var(--Colors-text-secondary, #9E9E9A);
  font-size: var(--font-subline-font-size, 20px);
  line-height: var(--font-subline-line-height, 42px);
  margin-top: var(--font-body-line-height);
  margin-bottom: var(--padding-item-horizontal-S, 8px);
}

/* Kein Abstand nach unten für p, wenn kein p folgt */
/* Korrigiert Abstände zwischen p und h usw. */
p:not(:has(+ p, +address)) {
  margin-bottom: 0;
}
/* HH Remove top margin from first h3 inside a column that directly follows h1 */
h1 + .row > .col > h3:first-child {
  margin-top: 0;
}

/* HH Remove top margin from first h4 inside a column that directly follows h2 */
h2 + .row > .col>h4:first-child {
  margin-top: 0;
}

/* HH Remove top margin from second h4 inside a column that directly follows h2 */
h2 + h4 + h4 {
  margin-top: var(--font-body-line-height);
}

p, address {
  color: var(--Colors-text-primary, #FFF);
  font-size: var(--font-body-font-size, 20px);
  line-height: var(--font-body-line-height);
  margin-top: 0;
}
address {
  margin-bottom: 1em;
  font-style: normal;
}

a,
a:visited,
a:active,
a:hover {
  color: var(--Colors-text-primary, #FFF);
  font-size: var(--font-body-font-size, 20px);
  line-height: var(--font-body-line-height);
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
a:hover {
  text-decoration: none;
}

li {
  font-size: var(--font-body-font-size);
  line-height: var(--font-body-line-height);
}

.row {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(368px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
}
.col {
  hyphens: auto;
}
.row.two-cols {
  gap: 100px;
}
.row.three-cols {
  gap: 32px;
}
.row .col {
  flex: 1 1 280px;
}

[data-layout="mobile"] {
  .row.three-cols,
  .row.two-cols {
    gap: 0;
  }
  .row .col {
    flex: 1 0 100%;
  }
}

.logos {
  margin-top: calc(var(--font-h4-line-height, 40px) * 2);
}
.logos svg {
  display: block;
  stroke: none;
  fill: var(--Colors-text-secondary, #CAC9C2);
  margin-bottom: var(--font-body-line-height, 24px);
}
.logos .hfg-logo {
  width: 230px;
  height: auto;
}
.logos .hfg-logo_reduced {
  width: 95px;
  height: auto;
}
.logos .orc-logo {
  width: 75px;
  height: auto;
}
.logos .sihl-logo {
  width: 140px;
  height: auto;
}

/* HH helper class to unify transition timings */
.fades {
  transition: opacity 150ms ease-out;
}

/* HH add for fad in/out */
.dialog.hidden {
  opacity: 0;
}