
/* primitives colors */
:root {
--Primitives-color-blurs-diplom-counter-blur: rgba(137,132,126,0.9);
--Primitives-color-blurs-diplom-img-blur: rgba(137,132,126,0.3);
--Primitives-color-blurs-project-counter-blur: rgba(243,242,239,0.9);
--Primitives-color-blurs-project-img-blur: rgba(243,242,239,0.3);
--Primitives-color-greys-Black: #000000;
--Primitives-color-greys-DarkGrey: #524F4F;
--Primitives-color-greys-Diplom-DarkRedGrey: #6D6863;
--Primitives-color-greys-Diplom-LightGrey: #ACABA4;
--Primitives-color-greys-Diplom-MediumGrey: #949490;
--Primitives-color-greys-Diplom-RedGrey: #A29B93;
--Primitives-color-greys-Diplom-Slate: #494949;
--Primitives-color-greys-Diplom-UltraLightGrey: #DEDDD1;
--Primitives-color-greys-Grey: #9E9E9A;
--Primitives-color-greys-LightGrey: #E7E6E1;
--Primitives-color-greys-MediumGrey: #CAC9C2;
--Primitives-color-greys-ORCBlack: #2C2C2C;
--Primitives-color-greys-UltraLightGrey: #F3F2EF;
--Primitives-color-greys-White: #FFFFFF;
--Primitives-color-highlight-bright-tone: var(--Primitives-color-identity-Signal-Red);
--Primitives-color-highlight-dark-tone: var(--Primitives-color-identity-Signal-Red);
--Primitives-color-identity-Blue: #1CADFF;
--Primitives-color-identity-Brown: #876341;
--Primitives-color-identity-Lilac: #9461FF;
--Primitives-color-identity-New-Yellow: #A1FF2A;
--Primitives-color-identity-Orange: #FF7C1C;
--Primitives-color-identity-Signal-Red: #FF4D00;
--Primitives-color-identity-Yellow: #FBFF40;
--Primitives-color-transparencies-black-5: rgba(0,0,0,0.05);
--Primitives-color-transparencies-black-10: rgba(0,0,0,0.1);
--Primitives-color-transparencies-black-20: rgba(0,0,0,0.2);
--Primitives-color-transparencies-black-30: rgba(0,0,0,0.3);
--Primitives-color-transparencies-black-40: rgba(0,0,0,0.4);
--Primitives-color-transparencies-black-50: rgba(0,0,0,0.5);
--Primitives-color-transparencies-black-60: rgba(0,0,0,0.6);
--Primitives-color-transparencies-black-70: rgba(0,0,0,0.7);
--Primitives-color-transparencies-black-80: rgba(0,0,0,0.8);
--Primitives-color-transparencies-white-5: rgba(255,255,255,0.05);
--Primitives-color-transparencies-white-10: rgba(255,255,255,0.1);
--Primitives-color-transparencies-white-20: rgba(255,255,255,0.2);
--Primitives-color-transparencies-white-30: rgba(255,255,255,0.3);
--Primitives-color-transparencies-white-40: rgba(255,255,255,0.4);
--Primitives-color-transparencies-white-50: rgba(255,255,255,0.5);
--Primitives-color-transparencies-white-60: rgba(255,255,255,0.6);
--Primitives-color-transparencies-white-70: rgba(255,255,255,0.7);
--Primitives-color-transparencies-white-80: rgba(255,255,255,0.8)
}

/* colors light */
:root {
--Colors-background-filter: var(--Primitives-color-greys-Black);  
--Colors-background-menu: var(--Primitives-color-greys-Black);  
--Colors-background-default: var(--Primitives-color-greys-UltraLightGrey);
--Colors-background-video: var(--Primitives-color-greys-Black);

--Colors-background-audio: var(--Primitives-color-greys-Black);

--Colors-btm-bar-galleryView-gradient-default-stop-1: #F3F2EF;
--Colors-btm-bar-galleryView-gradient-default-stop-2: rgba(243,242,239,0);

--Colors-btm-bar-galleryView-gradient-hover-stop-1: #E7E6E1;
--Colors-btm-bar-galleryView-gradient-hover-stop-2: rgba(231,230,225,0);

--Colors-btm-bar-galleryView-set-hover: var(--Primitives-color-greys-LightGrey);
--Colors-btm-bar-main-button-fill: rgba(243,242,239,0.7);
--Colors-btm-bar-main-button-icon: var(--Primitives-color-greys-Black);
--Colors-btm-bar-playerView-background: var(--Primitives-color-transparencies-black-10);
--Colors-btm-bar-playerView-button: var(--Primitives-color-greys-ORCBlack);
--Colors-btm-bar-playerView-progress: var(--Primitives-color-greys-MediumGrey);
--Colors-btm-bar-set-button: var(--Primitives-color-greys-LightGrey);
--Colors-btm-bar-thumbnail-active: var(--Primitives-color-greys-White);
--Colors-divider-universal: var(--Primitives-color-greys-MediumGrey);
--Colors-filter-chip-fill-active: var(--Primitives-color-greys-ORCBlack);
--Colors-filter-chip-fill-default: var(--Primitives-color-greys-UltraLightGrey);
--Colors-filter-chip-fill-hover: var(--Primitives-color-greys-LightGrey);
--Colors-filter-chip-fill-outline: var(--Primitives-color-greys-MediumGrey);
--Colors-filter-chip-text-active: var(--Primitives-color-greys-White);
--Colors-filter-chip-text-default: var(--Primitives-color-greys-ORCBlack);
--Colors-filter-searchbar-fill-default: var(--Primitives-color-greys-LightGrey);
--Colors-filter-searchbar-text-actice: var(--Primitives-color-greys-ORCBlack);
--Colors-filter-searchbar-text-disabled: var(--Primitives-color-greys-MediumGrey);
--Colors-filter-toggle-off: var(--Primitives-color-greys-UltraLightGrey);
--Colors-filter-toggle-on: var(--Primitives-color-greys-ORCBlack);
--Colors-nav-bar-button-fill-hover: var(--Primitives-color-greys-LightGrey);
--Colors-nav-bar-button-fill: var(--Primitives-color-greys-UltraLightGrey);
--Colors-nav-bar-button-outline: var(--Primitives-color-greys-MediumGrey);
--Colors-nav-bar-filter-button: var(--Primitives-color-greys-Grey);
/* var(--Primitives-color-highlight-dark-tone); */
--Colors-nav-bar-info-button-fill: var(--Primitives-color-greys-ORCBlack);

--Colors-nav-bar-institution-logo: var(--Primitives-color-greys-ORCBlack);
--Colors-nav-bar-platform-logo: var(--Primitives-color-greys-ORCBlack);
--Colors-nav-bar-set-button-folded: var(--Primitives-color-greys-LightGrey);
--Colors-nav-bar-set-button: var(--Primitives-color-greys-LightGrey);
--Colors-nav-bar-toggle-off: var(--Primitives-color-greys-UltraLightGrey);

--Colors-nav-bar-toogle-on: var(--Primitives-color-highlight-dark-tone);
/*--Colors-nav-bar-toggle-on: var(--Primitives-color-greys-ORCBlack);*/
--Colors-nav-bar-toggle-highlight: var(--Primitives-color-highlight-bright-tone);
--Colors-nav-bar-toogle-project: var(--Primitives-color-greys-ORCBlack);
--Colors-nav-bar-toogle-diplom: var(--Primitives-color-highlight-bright-tone);

--Colors-nav-bar-year-selector: var(--Primitives-color-identity-Signal-Red);
--Colors-project-counter-gradient: var(--Primitives-color-blurs-project-counter-blur);
--Colors-project-counter-text: var(--Primitives-color-highlight-dark-tone);
--Colors-text-headlines: var(--Primitives-color-highlight-dark-tone);
--Colors-text-primary-inverted: var(--Primitives-color-greys-White);
--Colors-text-primary: var(--Primitives-color-greys-ORCBlack);
--Colors-text-secondary: var(--Primitives-color-greys-MediumGrey)
}


/* colors dark */
[data-theme="dark"] {
--Colors-background-default: var(--Primitives-color-greys-ORCBlack);
--Colors-background-video: var(--Primitives-color-greys-Black);
--Colors-background-audio: var(--Primitives-color-greys-Black);

--Colors-btm-bar-galleryView-gradient-default-stop-1: #000000;
--Colors-btm-bar-galleryView-gradient-default-stop-2: rgba(0,0,0,0);

--Colors-btm-bar-galleryView-gradient-hover-stop-1: var(--Primitives-color-greys-ORCBlack);
--Colors-btm-bar-galleryView-gradient-hover-stop-2: rgba(44,44,44,0);

--Colors-btm-bar-galleryView-set-hover: var(--Primitives-color-greys-ORCBlack);
--Colors-btm-bar-main-button-fill: var(--Primitives-color-transparencies-black-30);
--Colors-btm-bar-main-button-icon: var(--Primitives-color-greys-White);
--Colors-btm-bar-playerView-background: var(--Primitives-color-transparencies-white-20);
--Colors-btm-bar-playerView-button: var(--Primitives-color-greys-White);
--Colors-btm-bar-playerView-progress: var(--Primitives-color-greys-White);
--Colors-btm-bar-set-button: var(--Primitives-color-greys-LightGrey);
--Colors-btm-bar-thumbnail-active: var(--Primitives-color-greys-White);
--Colors-divider-universal: var(--Primitives-color-greys-DarkGrey);
--Colors-filter-chip-fill-active: var(--Primitives-color-greys-ORCBlack);
--Colors-filter-chip-fill-default: var(--Primitives-color-greys-UltraLightGrey);
--Colors-filter-chip-fill-hover: var(--Primitives-color-greys-LightGrey);
--Colors-filter-chip-fill-outline: var(--Primitives-color-greys-MediumGrey);
--Colors-filter-chip-text-active: var(--Primitives-color-greys-White);
--Colors-filter-chip-text-default: var(--Primitives-color-greys-ORCBlack);
--Colors-filter-searchbar-fill-default: var(--Primitives-color-greys-LightGrey);
--Colors-filter-searchbar-text-actice: var(--Primitives-color-greys-ORCBlack);
--Colors-filter-searchbar-text-disabled: var(--Primitives-color-greys-MediumGrey);
--Colors-filter-toggle-off: var(--Primitives-color-greys-UltraLightGrey);
--Colors-filter-toggle-on: var(--Primitives-color-greys-ORCBlack);
--Colors-nav-bar-button-fill-hover: var(--Primitives-color-greys-ORCBlack);
--Colors-nav-bar-button-fill: var(--Primitives-color-greys-ORCBlack);
--Colors-nav-bar-button-outline: var(--Primitives-color-greys-DarkGrey);
--Colors-nav-bar-filter-button: var(--Primitives-color-greys-Diplom-UltraLightGrey);
--Colors-nav-bar-info-button-fill: var(--Primitives-color-highlight-bright-tone);
--Colors-nav-bar-institution-logo: var(--Primitives-color-greys-White);
--Colors-nav-bar-platform-logo: var(--Primitives-color-greys-White);
--Colors-nav-bar-set-button-folded: var(--Primitives-color-greys-Grey);
--Colors-nav-bar-set-button: var(--Primitives-color-greys-Grey);

--Colors-nav-bar-toggle-off: var(--Primitives-color-greys-UltraLightGrey);
--Colors-nav-bar-toogle-on: var(--Primitives-color-highlight-bright-tone);

--Colors-nav-bar-year-selector: var(--Primitives-color-identity-Signal-Red);
--Colors-project-counter-gradient: var(--Primitives-color-blurs-project-counter-blur);
--Colors-project-counter-text: var(--Primitives-color-highlight-bright-tone);
--Colors-text-headlines: var(--Primitives-color-highlight-bright-tone);
--Colors-text-primary-inverted: var(--Primitives-color-greys-Black);
--Colors-text-primary: var(--Primitives-color-greys-White);
--Colors-text-secondary: var(--Primitives-color-greys-MediumGrey)
}


.Spaces_Dimensions {

  /* :root { */
    --spacing-between-items-S:4;
    --padding-item-horizontal-M:12;
    --padding-item-vertical-M:12;
    --spacing-item-inner:8;
    --spacing-navbar-between-items:4;
    --dimension__icon__sizeM:24;
    --dimension__button__heightM:48;
    --radius__full:9999;
    --radius__none:0;
    --dimension__button__heightS:32;
    --padding__itemhorizontalL:16;
    --dimension__icon__sizeL:32;
    --dimension__btmbar__imgheight:64;
    --dimension__btmbar__imgwidth:48;
    --padding__itemverticalS:8;
    --spacing-betweenitemsM:12;
    --padding__itemhorizontalS:8;
    --spacing-meta-info-between-sections:80;
    --spacing-meta-info-between-sub-sections:24px;
    --font-h1-fontsize:240;
    --font-h1-lineheight:210;
    --font-h2-fontsize:120;
    --font-h2-lineheight:146;
    --font-h3-fontsize:48;
    --font-h3-lineheight:60;
    --font-h4-fontsize:32;
    --font-h4-lineheight:40;
    --font-body-fontsize:20;
    --font-body-lineheight:24;
    --font-button-font-size:20;
    --font-button-line-height:24;
    --font-subline-fontsize:20;
    --font-subline-lineheight:24;
    --font-number-L-fontsize:16;
    --font-number-L-lineheight:18;
    --font-number-M-fontsize:14;
    --font-number-M-lineheight:18;
    --font-number-S-fontsize:12;
    --font-number-S-lineheight:14;
    --spacing-betweenitemsL:16;
    --spacing-meta-info-betweenrows:6;
    --margin-headermargin:12;
    --margin-body-margin:96;
    --spacing-metainfo-betweensliderlist:20;
    --padding-filterheadbtm_:24;
    --dimension-btmbar-plusicon:48;
    --margin-navbar-leftrighttopbtm:12;
    --margin-navbar-institutionlogo-right:10;
    --spacing-betweenmenuitems:20;
    --margin-btmbar-mainbutton:20;
    --margin-btmbar-set-right:46;
    --margin-btmbar-betweensets:4;
    --margin-btmbar-endofsets:40;
    --padding-itemhorizontalXS:0;
    --padding-itemverticalL:16;
    --padding-itemverticalXS:0;
    --padding-containerbottomXL:112;
    --padding-containerbottomM:32;
    --padding-containerverticalM:32;
    --padding-containerbottomL:48;
  }

  .Blurs {
    --valuepills:30;
    --valueoverly:112;
  }
  